
.book-package-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f7fa;
  padding: 20px;
}

.book-package-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #e3f2fd;
  border-radius: 16px;
  overflow: hidden;
}

.package-image-con {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.package-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-detail-con {
  padding: 20px;
  background-color: white;
}

.title {
  text-align: center;
  color: #45abd2;
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 10px;
}

.package-title {
  font-size: 24px;
  font-weight: 600;
  color: #0d47a1;
  margin-bottom: 10px;
}

.package-location,
.package-price,
.package-duration,
.selected-date  {
  font-size: 16px;
  margin-bottom: 10px;
  color: #37474f;
}

.package-price > span {
  font-weight: bold;
  color: #1565c0;
}

.package-description {
  font-size: 16px;
  color: #546e7a;
  margin-bottom: 20px;
}
.package-add-person-container{
  display: flex;
  column-gap: 30px;

}
.add-person-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.add-person-button-container > button {
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background: linear-gradient(45deg, #4fc3f7, #0288d1);
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}


.add-person-button-container > p {
  font-size: 19px;
  font-weight: bold;
  margin: 0 10px;
  color: #37474f;
}

.date-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0288d1;
  border-radius: 8px;
  background-color: #e3f2fd;
  color: #37474f;
}

.date-input:focus {
  outline: none;
  border-color: #4fc3f7;
  box-shadow: 0 0 5px rgba(79, 195, 247, 0.5);
}

.date-label {
  display: block;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0288d1;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  color: #1565c0;
  text-align: center;
  margin: 20px 0;
  padding-top: 10px;
  border-top: 2px solid #b0bec5;
}

.book-btn {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(45deg, #4fc3f7, #0288d1);
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .book-package-card {
    width: 90%;
  }

  .package-image-con {
    height: 250px;
  }

  .package-title {
    font-size: 20px;
  }

  .package-location,
  .package-price,
  .package-duration,
  .selected-date,
  .package-description {
    font-size: 14px;
  }

  .date-label {
    font-size: 18px;
  }

  .total-price {
    font-size: 20px;
  }

  .book-btn {
    font-size: 17px;
  }

  .date-input {
    width: 60%;
  }
}