body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.package-outer-con {
  width: 100%;
}

.cover-img-con {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.cover-img-con > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.img-background > .location {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.img-background > .quote {
  font-size: 16px;
  font-style: italic;
}

.package-container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.package-inner-body {
  width: 76%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.package-header {
  font-size: 32px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

hr {
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.package-card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  overflow-y: auto;
  max-height: 70vh;
}

.package-card {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 320px; 
}

.package-card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.package-card-title-con {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.package-card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.package-card-title-con > span {
  font-size: 14px;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 15px;
  height: 15px;
  white-space: nowrap;
}

.pacakge-card-desc {
  font-size: 14px;
  color: #666;
  padding: 0 15px;
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.package-card-btn {
  
 
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px; 
  width: 100%;
  
}

.package-card-btn > button {
  width: 80%;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.package-card-btn > button>span{
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
