/* signin-bg-img.png */

.signin-outer-con {
    height: 100vh;
    width: 100%;
    display: flex;
}

.signin-con1 {
    height: 100%;
    flex: 1;
    position: relative;
}

.signin-con2 {
    height: 100%;
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-con1>img {
    height: 90%;
    width: 100%;
}

.signin-form-con {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.signin-form-con>h1 {
    text-align: center;
    color: #C1C242;
}

.signin-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form-body>label {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 600;
}

.form-body>div {
    height: 50px;
    border-radius: 7px;
    border-color: transparent;
    background-color: rgba(205, 205, 33, 0.31);
}

.input-con {
    width: 100%;
}

.input-con>input {
    border: transparent;
    margin-left: 13%;
    width: 86%;
    height: 95%;
    border-radius: 7px;
    background-color: rgba(205, 205, 33, 0.31);
}

.form-body>div>input::placeholder {
    padding-left: 13%;
    color: black;
    font-weight: 700;
}

.signin-icon {
    position: absolute;
    top: 35px;
    left: 4%;
}

.signin-form>a {
    text-align: center;
    text-decoration: underline;
}

.signin-form>button {
    width: 60%;
    height: 50px;
    border: transparent;
    border-radius: 7px;
    background-color: #C1C242;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
}

.signin-con1-inner {
    padding: 40px 0px;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    row-gap: 20%;
}

.signin-con1-inner>img {
    height: 99px;
    width: 99px;
}

.signin-con1-inner>h2 {
    color: white;
    font-weight: 700;
    margin: 0px;
    font-size: 35px;
}

.signin-con1-inner>div>p {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin: 0px;
}

.signin-con1-inner>div>button {
    width: 40%;
    height: 50px;
    border: transparent;
    border-radius: 7px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
}

.form-body p {
    margin: 5px;
}
