.header-popup-container {
    position: fixed;
    background: #fff;
    top: 70px;
    right: 0;
    color: #000;
    text-align: center;
    width: 230px;

}

.header-email-popup-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.user-logo-popup {
    margin-top: 13px;
    font-size: 19px;
    margin-top: 18px;
    cursor: pointer;
}

.header-popup-profile {
    font-size: 16px;
    cursor: pointer;
}

.logout-button {
    background-color: #f44336;
    color: #fff;
    width: 100%;
    padding: 8px 0px;
    font-size: 17px;
    border: 1px solid #f44336;
    cursor: pointer;
}